* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;    
    font-size: 16px;
    padding: 0px;
    

}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 4em;

}


h2 {

        font-family: 'La Belle Aurore', cursive;
        font-size: 3em;
    line-height: 100%;
}
h3 {
    font-size: 0.75em;
    line-height: 80%;
}

h4 {
    font-size: 2em;
}

header {
    width: 100%;
    padding:0 1% 0 1%;

}

a{
    color: black;
    text-decoration: underline;
}

.name-container{

    padding-left: 3%;
    padding-top: 2%;

}

nav {

    float: left !important;

}

.navbar-toggler{
    float:left !important;
    margin-left: -50%;
}

nav ul{
    width: 150px;
    position:relative;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 100;
   
}

/*adjustments*/
.close-lines{
    line-height: 70%;
}

.inline{
    display: inline !important;
}

.centertxt {
    text-align: center;
}

.cursive-font{
    font-family: 'La Belle Aurore', cursive;

}

.vertical-space{
    margin-top:3%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.underline{
    text-decoration: underline;
}

.section-border{
    border-top: 1px dashed black;
}
 .top-row{
     margin-top:3%;
 }


/*page styles*/

.portfolio-btn-box {
    display:flex;
    width: 70%; 
    height:50px;
    margin: 4% auto; 
    vertical-align:middle !important;

}

.specialtxt{

    font-size: 3em;
white-space:pre;
}

.portfolio-button{
    display:inline-block;
    margin: 2%;
    border: 1px solid black;
    background-color:white;
}

.portfolio-button:active{
    background-color:black;
    color:white;
}

.scroll-portfolio{
    display:inline-block;
    border: 1px dashed black;
   width:100%;  
   margin:2%;
   height: 100%;
   white-space: nowrap; 
   overflow:scroll;
}

.portfolio-display{
    display:block !important;
    width:50%; 
    margin:3% auto; 
    transform: rotate(15deg);
    z-index: 110;
   
}

.portfolio-preview{
    width: 43%;
    height: auto;
    transform: rotate(15deg);
    position: absolute;
    top: 18%;
    right: 29%;
    z-index: -10;
}


/*homepage styles*/
.page-top-image{
    display: none;
}

.home-top{
    position: relative;
   width: 115%;
    transform: rotate(28deg);
    margin-left: -20%;
    margin-top: -5%;
    z-index: -100;

}

.skills-row{
    padding: 1% 2%;
    border: 1px dashed black;
    margin: 6% 1% 2% 1%;
}

@media only screen and (max-width: 740px) {

    .home-top{
         transform: rotate(25deg);
         margin-left:-20%;
         width: 110%;
       
     
     }

     .page-top-image{
        display: inline-block;
        position: relative;
        transform: rotate(25deg);
        margin-left:-20%;
        width: 100%;
        margin-top: -5%;
        z-index: -100;
    
    }
     .name-container{

        padding-left: 7%;
        padding-top: 2%;
    
    }
    

}

@media only screen and (max-width: 575px) {

    .home-top{
         transform: rotate(25deg);
         width:90%;
         margin-left:48%;
         margin-top:-30%;
         position:relative;
         z-index:-100;
       
     
     }


     .page-top-image{
   
        transform: rotate(25deg);
        width:60%;
        margin-left:55%;
        margin-top:-30%;
        position:relative;
        z-index:-100;
    
    }

     .portfolio-btn-box {

        margin: 7% auto; 
       
    
    }
    

}